.stats{
  @extend %font-quicksand-medium;
  font-size: $font-size_md;
  $col-padding: 90px;
  overflow-x: hidden;
  color: white;
  border-bottom: $section-border-bottom;

  &__col{
    width: 50%;
    padding: 66px 0;
    position: relative;

    &-wrapper {
      max-width: 260px;
      z-index: 10;
    }

    &:before {
      content: '';
      display: block;
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }

  &__productivity{
    padding-right: $col-padding;

    p{
      text-align: right;
    }
    &:before {
      background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
      right: 0;
      z-index: 1;
    }
  }
  &__application{
    padding-left: $col-padding;
    color: #5E80FF;
  }
  &:before {
    background:linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
    left: 0;
    z-index: -1;
  }
  &__icon {
    @extend %background-img;
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
  }

  h3 {
    @extend %font-quicksand-regular;
    line-height: 83px;
    margin-bottom: 25px;
    font-size: $font-size_xlg;
    letter-spacing: $letter-spacing;
  }

  &__productivity-icon {
    background-image: url("../assets/icon/Group.svg");
  }

  &__application-icon {
    background-image: url("../assets/icon/Group 4.svg");
  }
}