.customers {
  padding: 58px 0;
  border-bottom: $section-border-bottom;

  &__content{
    margin: 0 180px;
    gap: 77px;

    svg{
      cursor: pointer;
      & path:hover{
        transition: $transition;
        fill: #5982E7;
      }
      & path:active{
        transition: $transition;
        fill: map-get($colors, color-btn-active);
      }
    }
  }
}