.plan{
  %button{
    @extend %font-quicksand-bold;
    font-size: 13px;
    line-height: 16px;
    box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
    border: 1px solid;
  }

  $plan-btn-bg-color:#4C85FF;
  $plan-bg-color-btn: #ADB4D2;

  background-color: $section-bg-color;
  padding-top: 170px;
  border-bottom: $section-border-bottom;

  &__info{
    margin-left: 180px;
    width: 50%;
    gap: 47px;

    & .plan__text-centre{
      gap: 20px;
    }
    h6 {
      @extend %h6;
    }
    h2{
      @extend %h2;
    }
    span {
      @extend %h2;
      @extend %font-quicksand-regular;
    }
    p {
      @extend %description;
    }
  }
  & .plan__button {
    & .plan__button-video{
      @include plan-btn($color-white, $plan-btn-bg-color, $plan-btn-bg-color);
      position: relative;
      padding: 12px 28px;
      &:hover {
        color: $plan-bg-color-btn;
        background-color: $color-white;
        border-color: #D1D1E4 ;
      }
      &:active {
        color: $color-white;
        background-color: $color-btn-active;
        border-color: #D1D1E4 ;
      }
    }
    & .plan__button-see{
      @include plan-btn($plan-bg-color-btn, $color-white, #D1D1E4);
      padding: 12px 22px;
      &:hover {
        color: $color-white;
        background-color: $plan-btn-bg-color;
        border-color: $plan-btn-bg-color;
      }
      &:active {
        color: $color-white;
        background-color: $color-btn-active;
        border-color: #D1D1E4 ;
      }
    }
    & img{
      position: absolute;
      transform: translate( 80px, -10px);
    }
  }

&__illustration{
  margin-right: -65px;
}
}