.plan{
  @media (max-width: $content-width){
    &{
      padding-top: 100px;
    }
    &__info{
      margin-left: 0;
    }
  }

  @media (max-width: $breakpoint_xlg){
    &{
      padding: 100px;
    }
    & .row{
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
   &__info{
     align-items: center;
     width: 100%;
     & .plan__text-centre{
       align-items: center;
       text-align: center;
     }
   }
    &__illustration{
      margin-right: 80px;
      max-height: 540px;
    }
  }
  @media (max-width: $breakpoint_md) {
    &__illustration {
      margin-right: 35px;
    }
  }
  @media (max-width: $breakpoint_sm) {
    &__button{
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
    &__illustration {
      display: none;
    }
  }
  @media (max-width: $breakpoint_xs){
    &__info {
      h2 {
        font-size: 28px;
      }

      span {
        font-size: 28px;
      }

      p {
        font-size: 13px;
      }

      & .triangle {
        display: none;
      }
    }
  }

}
